.land{
    display: inline-block;
    width: 160px;
    height: 140px;
}

.borde{
    border-width: 3px;
    border-style: solid;
}
.menu{
    display: inline;
    width: 200px;
}
.slide{
    width: 800px;
    height: 500px;
}